In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('heart.csv')

In [34]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [35]:
df.shape

(918, 12)

In [36]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [37]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

# Treat Outliers

In [38]:
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [39]:
df.shape

(918, 12)

In [40]:
df[df.MaxHR>(df.MaxHR.mean()+3*df.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [41]:
df[df.FastingBS>(df.FastingBS.mean()+3*df.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [42]:
df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [43]:
df1 = df[df.Oldpeak<=(df.Oldpeak.mean()+3*df.Oldpeak.std())]

In [44]:
df1.shape

(912, 12)

In [45]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [46]:
df2 = df1[df1.RestingBP<=(df1.RestingBP.mean()+3*df1.RestingBP.std())]

In [47]:
from sklearn.preprocessing import LabelEncoder
for column in df2.columns:
    
    if df2[column].dtypes == np.number:
        continue
    df2[column] = LabelEncoder().fit_transform(df2[column])

C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df2[column].dtypes == np.number:
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = LabelEncoder().fit_transform(df2[column])
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df2[column].dtypes == np.number:
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = LabelEncoder().fit_transform(df2[column])
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df2[column].dtypes == np.number:
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = LabelEncoder().fit_transform(df2[column])
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df2[column].dtypes == np.number:
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = LabelEncoder().fit_transform(df2[column])
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df2[column].dtypes == np.number:
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = LabelEncoder().fit_transform(df2[column])
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df2[column].dtypes == np.number:
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = LabelEncoder().fit_transform(df2[column])
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df2[column].dtypes == np.number:
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = LabelEncoder().fit_transform(df2[column])
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df2[column].dtypes == np.number:
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = LabelEncoder().fit_transform(df2[column])
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df2[column].dtypes == np.number:
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = LabelEncoder().fit_transform(df2[column])
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df2[column].dtypes == np.number:
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = LabelEncoder().fit_transform(df2[column])
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df2[column].dtypes == np.number:
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_29692\3045556735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = LabelEncoder().fit_transform(df2[column])

In [48]:
df2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,12,1,1,41,147,0,1,97,0,0.0,2,0
1,21,0,2,55,40,0,1,81,0,1.0,1,1
2,9,1,1,31,141,0,2,24,0,0.0,2,0
3,20,0,0,39,72,0,1,33,1,1.5,1,1
4,26,1,2,49,53,0,1,47,0,0.0,2,0

In [54]:
x = df2.drop(['HeartDisease'],axis=1)

In [55]:
x

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,12,1,1,41,147,0,1,97,0,0.0,2
1,21,0,2,55,40,0,1,81,0,1.0,1
2,9,1,1,31,141,0,2,24,0,0.0,2
3,20,0,0,39,72,0,1,33,1,1.5,1
4,26,1,2,49,53,0,1,47,0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...
913,17,1,3,14,122,0,1,57,0,1.2,1
914,40,1,0,45,51,1,1,66,0,3.4,1
915,29,1,0,31,9,0,1,40,1,1.2,1
916,29,0,1,31,94,0,0,99,0,0.0,1
917,10,1,2,39,35,0,1,98,0,0.0,2

In [56]:
y = df2['HeartDisease']

In [57]:
from sklearn.preprocessing import StandardScaler

In [58]:
scaler = StandardScaler()
xscaled = scaler.fit_transform(x)
xscaled

array([[-1.42475993,  0.5154942 ,  0.22540416, ..., -0.82026099,
        -0.84760122,  1.04876285],
       [-0.47347953, -1.93988605,  1.27151062, ..., -0.82026099,
         0.14090278, -0.6193046 ],
       [-1.74185339,  0.5154942 ,  0.22540416, ..., -0.82026099,
        -0.84760122,  1.04876285],
       ...,
       [ 0.37210305,  0.5154942 , -0.82070231, ...,  1.21912417,
         0.33860358, -0.6193046 ],
       [ 0.37210305, -1.93988605,  0.22540416, ..., -0.82026099,
        -0.84760122, -0.6193046 ],
       [-1.63615557,  0.5154942 ,  1.27151062, ..., -0.82026099,
        -0.84760122,  1.04876285]])

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
xtrain,xtest,ytrian,ytest = train_test_split(xscaled,y,test_size=.25,random_state=42)

In [63]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
scores = cross_val_score(SVC(),x,y,cv =5)
scores.mean()

0.6861878453038674

# use bagging now with svm

In [65]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(base_estimator=SVC(), n_estimators=100, max_samples=0.8, random_state=0)
scores = cross_val_score(bag_model, x,y, cv=5)
scores.mean()

C:\Users\Ghost Codm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\Ghost Codm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\Ghost Codm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\Ghost Codm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\Ghost Codm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.6872928176795581

In [66]:
from sklearn.tree import DecisionTreeClassifier

In [67]:
scores = cross_val_score(DecisionTreeClassifier(random_state=42),x,y,cv=5)
scores.mean()

0.7259668508287292

In [68]:
bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(random_state=0), 
    n_estimators=100, 
    max_samples=0.9, 
    oob_score=True,
    random_state=0
)

scores = cross_val_score(bag_model, x, y, cv=5)
scores.mean()

C:\Users\Ghost Codm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\Ghost Codm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\Ghost Codm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\Ghost Codm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\Ghost Codm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.811049723756906

In [69]:
from sklearn.ensemble import RandomForestClassifier

In [70]:
scores = cross_val_score(RandomForestClassifier(),x,y,cv = 5)
scores.mean()

0.8143646408839779